<!DOCTYPE html>
<html>
<head>
  <title>Emeralds</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "http://js.pusher.com/2.1/pusher.min.js" %>
  <%= csrf_meta_tags %>

    <script type="text/javascript">
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };
 	Pusher.host = 'ws-eu.pusher.com';
 	Pusher.sockjs_host = 'sockjs-eu.pusher.com';    

 	var pusher = new Pusher('<%= Pusher.key %>'); // uses your APP KEY
 	var channel = pusher.subscribe('test_channel');
 	channel.bind('greet', function(data) {
   	alert(data.greeting);
 });
  </script>
</head>
<body>

<!-- IF mobile versions -->
<div id="player-widget">
  <% if current_player %>
    Welcome <strong><%= current_player.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    <a href="auth/facebook">SIGN IN PROPERLY</a>
  <% end %>
</div>
<!-- END IF mobile version -->

<%= yield %>

</body>
</html>
