<!DOCTYPE html>
<html>
<head>
  <title>Emeralds</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag "http://js.pusher.com/2.1/pusher.min.js" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
  	var channel, pusher, numPlayersOnline, playersOnline;
    playersOnline = [];
  </script>
</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">




<%= yield %>

</body>
</html>
